img{
	width: 100%;
	height: auto;
	max-width: 370px;
}
.clearfix{
	clear: both;
}

a{
  text-decoration: none;
  color: black;
  font-family:"Montserrat";
  line-height: 3rem;
  font-size: .9rem;
}

body{
	max-width: 1110px;
}

#header ul{
	margin: 0 auto;
	padding-left: 0;
}

nav ul{
	list-style-type: none;
}
#header nav a{
	padding: 0 12px;
}

.contianer{
	max-width: 768px;
	margin: 0 auto;
}

#logo{
	text-align: center;
}

#logo img{ 
	max-width:145px;
	margin: 0 auto;
}

#header {
	background-color: #a0f9f8; 
}

#header .container nav{
	display: none;
}

#header .container nav.open{
	display: block;
	float: none;
	top: 0;
	left: 0;
	width: 100vw;
    height: 125vh;
    background: #ccc;
    text-align: center;
    padding-top: 32%;}

#menu-trigger{
	position: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
}
#upperBody{
	background-color: #a0f9f8;
	margin-top: -20px;
    line-height: 3;
    text-align: center;
}
h2 {
	color: white;
	font-family:"Montserrat";
}

#lowerBody h3, #lowerBody h5 {
	text-align: center;
	margin: 0;
	line-height:1.5;
}

#lowerBody nav a{
	padding: 0 6px;
	margin: 0 auto;
}
#lowerBody nav{
	text-align: center;
	margin: 0 auto;
}

.hidden{
	display: none;
}

#lowerBody .container ul{
	margin: 0 auto;
	text-align: center;
	display: inline-block;
}
#lowerBody .container nav li{
	float:left;
    line-height: 2;
}

#lowerBody {
	margin: 0 auto;
	text-align: center;
}
#lowerBody a{
  color: black;
  /*font-family:"Montserrat";*/
  line-height: 1rem;
  font-size: .1rem;
}

#loadMore img{
	width: 15px;
	height: auto;
	text-align: center;
	margin: 0 auto;
}

#loadMore h5{
	height: auto;
	text-align: center;
	margin: 0 auto;
	font-size: .1rem;
}

h6 {
	text-align: center;
	margin-bottom: 0;
}

.photo img{   
  width: 100%;
  height: auto;
  display: inline-block;
}
.photo {
  position: relative;
  max-width: 370px;
  margin: 0 auto;
}
.cover h3{
  margin-top:10%;
  font-size: 1.5rem;
  color:white;
  font-family: "Montserrat", sans-serif; 
}
.cover p{
  font-size: 1rem;
  color: white;
  font-family: 'Courgette', cursive;
}
.cover{
  text-align: center;
  width: 100%;
  height: 100%;
  opacity:0;
  position:absolute;
  top: 0;
  left: 0;
}
.cover:hover{
  opacity:1;
  background-color: rgba(0,0,0,.8); 

}
#footer{
	background-color: #FFD363;

}

/*#footer ul {*/
	/*float: right;*/
/*}*/

#footer li {
	float: left;
	padding-left: 21px;
}

#lowerBody .hover:hover {
  color: #94FCF6;
}

@media (min-width: 1150px) {
	body{
		max-width: 100%;
	}

	h2{
		font-size: 2.5rem;
		margin-top: 0;
	}
	
	h3{
		font-size: 2rem;
	}
	.hidden{
		display: block;
	}
	#header {
		width: 100%;
		margin: 0 auto;

	}
	/*#header{*/
		/*top: 0;*/
		/*left: 0;*/
	/*}*/
	.container {
		max-width: 1110px;
		margin: 0 auto;
	}

	.container p{
		float: left;
		width: 30%;
		margin-right: 2%;
	}
	#upperBddy{
		min-height: 198px;
	}

	.SSOOW {
		font-size:0.1rem;
		font-style: italic;
	}

	#menu-trigger{
		display: none;
	}

	#header .container nav{
		display: block;
    	float:right;
    }

	#header .container nav li{
		float: left;
	}

	#logo {
		float: left;
		margin-left: 11%;
    	margin-top: 0.7%;
	}
	#hidden{
		display: block;
	}

	#lowerBody{ 

		margin-top: 64px;
		width: 100%;
		max-width: 1150px;
	}

	#lowerBody .container{
		margin-top: 42px;
	}

	.photo{
		width: 30%;
		float: left;

	}
	.photo{
		padding:0 6px 8px;

	}
	.photoContainer{
		margin-top: 29px;
		width:100%;
	}

	#footer #logo{
		margin:0;
		padding:0;
		float:none;
	}


	/*#socialMedia{*/
		/*display: inline-block;*/
    /*}*/
    /*#socialMedia ul{ */
		/*float:left;*/
    /*}*/
    .socialMedia{
    	text-align: center;
    }
    #copyRight{
    	text-align: center;
    }
	#footer ul{
		margin-left: 30%;
	}
	footer li{
		padding-left: 34px;

	}
}